@use 'variables/fonts';


form {
   position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
   width: 100%;
   padding: 20px 10px;

   font-family: fonts.$font-primary;



}