@use 'variables/colors';
@use 'variables/mixins';
@use 'variables/fonts';

body {
   margin: 0;
   //background-image: url('../images/frog.jpg');
   font-family: fonts.$font-primary;
}

main {
   @include mixins.flexbox();
}

h1 {
   font-size: 30px;

}