@use 'variables/fonts';

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: fonts.$font-primary;
   background-color: $color-blue;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 30px;
}



h1 {
   font-size: 30px;

}