$color-white: #ffffff;
$color-black: #000000;
$color-gray: #e1e1e1;
$color-purple: #4a156e;
$color-purple-light: #b4b0d1;
$color-blue: #464997;
$color-blue-light: #5678c4;

$color-red: #d20917;

/*colors*/
$color-primary: $color-gray;
$color-secondary: $color-purple;

$color-danger: $color-red;